.App {
  height: auto;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  font-family: "MyCustomFont";
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 480px) {
}

@media only screen and (max-width: 480px) {
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ant-message {
  top: 60px !important; 
  z-index: 9999 !important;
}

.ant-notification {
  top: 60px !important;
  z-index: 9999 !important;
}

.ant-message-notice-content {
  margin-top: 20px; 
}

@media (max-width: 768px) {
  .ant-message {
    top: 40px !important; 
  }
  
  .ant-notification {
    top: 40px !important;
  }
}

@media (max-width: 576px) {
  .ant-message {
    top: 30px !important;
  }
}